<form action="/envia" method="POST">
    <p>Titulo: </p>
    <input type="text" name="titulo">
    <p>Conteudo: </p>
    <input type="text" name="contudo">
    <button type="submit">Cadastrar Conteudo</button>
</form>